{{> head }}

{{> navbar }}


    <div class="row">

        <div class="col-8">
            <h1>Islandia en invierno</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam nemo beatae officiis praesentium mollitia omnis ea, deserunt quod soluta itaque blanditiis earum labore, debitis aliquam ut? Dolore eum ullam expedita.</p>
        </div>
        
        <div class="col-4">
            <img src="/assets/img/iceland_winter.jpg" class="img-thumbnail"> 
        </div>


    </div>


{{> footer }}